Configurations/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Options">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SourcePath" type="xsd:string" />
        <xsd:element name="TargetPath" type="xsd:string" />
        <xsd:element name="TemplogPath" type="xsd:string" />
        <xsd:element name="IsForEncrypt" type="xsd:boolean" />
        <xsd:element name="IsForArchive" type="xsd:boolean" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>